In [1]:
import pandas as pd

In [2]:
#get item category
cat = pd.read_csv('jan_category_with4300_labeled.csv',',')
cat = cat[['itemID', 'category']]
#drop duplicate
cat.drop_duplicates(inplace=True)

In [3]:
items = pd.read_csv('items.csv', '|')

In [4]:
items.drop(columns=['categories'], inplace=True)

In [5]:
#merge derived df(['itemID', 'category']) with items set
items = pd.merge(items, cat, on='itemID', how='left')

In [6]:
#running the line below and it will show many nan values in the category which needs to be solved
items.isnull().sum()

itemID           0
brand            0
feature_1        0
feature_2        0
feature_3        0
feature_4        0
feature_5        0
category     25051
dtype: int64

In [7]:
items

,itemID,brand,feature_1,feature_2,feature_3,feature_4,feature_5,category
0,22665,861,4,0,490,2,66,NaN
1,28640,1366,10,1,537,0,101,NaN
2,13526,1090,10,0,511,0,0,3898.0
3,21399,1090,10,1,511,0,0,NaN
4,8504,768,4,1,484,0,66,NaN
...,...,...,...,...,...,...,...,...
32771,12036,1383,10,0,503,0,101,NaN
32772,22709,567,4,2,491,3,66,NaN
32773,32322,1385,10,1,500,0,37,NaN
32774,19118,1113,6,2,491,0,117,NaN
32775,16083,1111,4,3,485,3,16,NaN