In [1]:
import pandas as pd

In [2]:
orders = pd.read_csv('newOrders.csv', delimiter=',')

In [3]:
orders.head(50)

,Unnamed: 0,date,userID,itemID,order,comID,interval
0,268197,2020-08-03,0,12468,1,12468,2020-08-03 00:00:00
1,334333,2020-08-18,0,12505,1,12505,2020-08-18 00:00:00
2,1031053,2021-01-25,0,13146,2,13146,2021-01-25 00:00:00
3,390966,2020-09-01,0,1505,1,1505,2020-09-01 00:00:00
4,268196,2020-08-03,0,15083,1,15083,2020-08-03 00:00:00
5,22146,2020-06-05,0,20664,1,20664,2020-06-05 00:00:00
6,540881,2020-10-09,0,20664,1,20664,126 days 00:00:00
7,819668,2020-12-11,0,20664,1,20664,63 days 00:00:00
8,540880,2020-10-09,0,26387,1,26387,2020-10-09 00:00:00
9,709720,2020-11-20,0,28231,1,28231,2020-11-20 00:00:00
10,819666,2020-12-11,0,28231,1,28231,21 days 00:00:00
11,1031088,2021-01-25,0,28231,2,28231,45 days 00:00:00
12,978366,2021-01-15,0,29956,1,29956,2021-01-15 00:00:00
13,779709,2020-12-04,0,31683,1,31683,2020-12-04 00:00:00
14,779710,2020-12-04,0,31923,1,31923,2020-12-04 00:00:00
15,819667,2020-12-11,0,6446,1,6446,2020-12-11 00:00:00
16,978365,2021-01-15,0,6446,1,6446,35 days 00:00:00
17,709719,2020-11-20,0,9325,1,9325,2020-11-20 00:00:00
18,812071,2020-12-10,10000,17512,1,1000017512,2020-12-10 00:00:00
19,528595,2020-10-05,10000,21690,1,1000021690,2020-10-05 00:00:00
20,310881,2020-08-13,10000,23148,1,1000023148,2020-08-13 00:00:00
21,528593,2020-10-05,10000,23148,1,1000023148,53 days 00:00:00
22,448618,2020-09-16,10000,27866,3,1000027866,2020-09-16 00:00:00
23,448617,2020-09-16,10000,29657,2,1000029657,2020-09-16 00:00:00
24,812072,2020-12-10,10000,4879,1,100004879,2020-12-10 00:00:00
25,310880,2020-08-13,10000,6,1,100006,2020-08-13 00:00:00
26,528594,2020-10-05,10000,6,1,100006,53 days 00:00:00
27,218115,2020-07-21,10001,10364,1,1000110364,2020-07-21 00:00:00
28,45413,2020-06-12,10001,10961,1,1000110961,2020-06-12 00:00:00
29,693467,2020-11-15,10001,12214,1,1000112214,2020-11-15 00:00:00
30,614691,2020-10-26,10001,13825,1,1000113825,2020-10-26 00:00:00
31,45411,2020-06-12,10001,14684,2,1000114684,2020-06-12 00:00:00
32,51932,2020-06-13,10001,16972,1,1000116972,2020-06-13 00:00:00
33,394093,2020-09-02,10001,1732,1,100011732,2020-09-02 00:00:00
34,51930,2020-06-13,10001,17672,1,1000117672,2020-06-13 00:00:00
35,218108,2020-07-21,10001,2113,2,100012113,2020-07-21 00:00:00
36,401243,2020-09-04,10001,2113,2,100012113,45 days 00:00:00
37,955639,2021-01-10,10001,2113,1,100012113,128 days 00:00:00
38,957674,2021-01-11,1000,12140,1,100012140,2021-01-11 00:00:00
39,78066,2020-06-19,10001,22754,2,1000122754,2020-06-19 00:00:00
40,401268,2020-09-04,10001,22754,2,1000122754,77 days 00:00:00
41,955641,2021-01-10,10001,22754,3,1000122754,128 days 00:00:00
42,614701,2020-10-26,10001,23686,1,1000123686,2020-10-26 00:00:00
43,218107,2020-07-21,10001,24528,2,1000124528,2020-07-21 00:00:00
44,693466,2020-11-15,10001,28137,5,1000128137,2020-11-15 00:00:00
45,45412,2020-06-12,10001,28333,2,1000128333,2020-06-12 00:00:00
46,51931,2020-06-13,10001,29820,1,1000129820,2020-06-13 00:00:00
47,218110,2020-07-21,10001,29820,1,1000129820,38 days 00:00:00
48,353400,2020-08-23,10001,4156,3,100014156,2020-08-23 00:00:00
49,394078,2020-09-02,10001,550,1,10001550,2020-09-02 00:00:00

In [4]:
interval = list(orders['interval'])

In [5]:
ls = list()

In [6]:
for t in interval:
    if('-' in t):
        ls.append(0)
    else:
        ls.append(int(t.split(' ',1)[0]))

In [7]:
orders['intervals'] = ls

In [8]:
orders.head(30)

,Unnamed: 0,date,userID,itemID,order,comID,interval,intervals
0,268197,2020-08-03,0,12468,1,12468,2020-08-03 00:00:00,0
1,334333,2020-08-18,0,12505,1,12505,2020-08-18 00:00:00,0
2,1031053,2021-01-25,0,13146,2,13146,2021-01-25 00:00:00,0
3,390966,2020-09-01,0,1505,1,1505,2020-09-01 00:00:00,0
4,268196,2020-08-03,0,15083,1,15083,2020-08-03 00:00:00,0
5,22146,2020-06-05,0,20664,1,20664,2020-06-05 00:00:00,0
6,540881,2020-10-09,0,20664,1,20664,126 days 00:00:00,126
7,819668,2020-12-11,0,20664,1,20664,63 days 00:00:00,63
8,540880,2020-10-09,0,26387,1,26387,2020-10-09 00:00:00,0
9,709720,2020-11-20,0,28231,1,28231,2020-11-20 00:00:00,0
10,819666,2020-12-11,0,28231,1,28231,21 days 00:00:00,21
11,1031088,2021-01-25,0,28231,2,28231,45 days 00:00:00,45
12,978366,2021-01-15,0,29956,1,29956,2021-01-15 00:00:00,0
13,779709,2020-12-04,0,31683,1,31683,2020-12-04 00:00:00,0
14,779710,2020-12-04,0,31923,1,31923,2020-12-04 00:00:00,0
15,819667,2020-12-11,0,6446,1,6446,2020-12-11 00:00:00,0
16,978365,2021-01-15,0,6446,1,6446,35 days 00:00:00,35
17,709719,2020-11-20,0,9325,1,9325,2020-11-20 00:00:00,0
18,812071,2020-12-10,10000,17512,1,1000017512,2020-12-10 00:00:00,0
19,528595,2020-10-05,10000,21690,1,1000021690,2020-10-05 00:00:00,0
20,310881,2020-08-13,10000,23148,1,1000023148,2020-08-13 00:00:00,0
21,528593,2020-10-05,10000,23148,1,1000023148,53 days 00:00:00,53
22,448618,2020-09-16,10000,27866,3,1000027866,2020-09-16 00:00:00,0
23,448617,2020-09-16,10000,29657,2,1000029657,2020-09-16 00:00:00,0
24,812072,2020-12-10,10000,4879,1,100004879,2020-12-10 00:00:00,0
25,310880,2020-08-13,10000,6,1,100006,2020-08-13 00:00:00,0
26,528594,2020-10-05,10000,6,1,100006,53 days 00:00:00,53
27,218115,2020-07-21,10001,10364,1,1000110364,2020-07-21 00:00:00,0
28,45413,2020-06-12,10001,10961,1,1000110961,2020-06-12 00:00:00,0
29,693467,2020-11-15,10001,12214,1,1000112214,2020-11-15 00:00:00,0

In [9]:
orders = orders.drop(['comID', 'interval'], axis=1)

In [10]:
orders.head(30)

    Unnamed: 0        date  userID  itemID  order  intervals
0       268197  2020-08-03       0   12468      1          0
1       334333  2020-08-18       0   12505      1          0
2      1031053  2021-01-25       0   13146      2          0
3       390966  2020-09-01       0    1505      1          0
4       268196  2020-08-03       0   15083      1          0
5        22146  2020-06-05       0   20664      1          0
6       540881  2020-10-09       0   20664      1        126
7       819668  2020-12-11       0   20664      1         63
8       540880  2020-10-09       0   26387      1          0
9       709720  2020-11-20       0   28231      1          0
10      819666  2020-12-11       0   28231      1         21
11     1031088  2021-01-25       0   28231      2         45
12      978366  2021-01-15       0   29956      1          0
13      779709  2020-12-04       0   31683      1          0
14      779710  2020-12-04       0   31923      1          0
15      819667  2020-12-11       0    6446      1          0
16      978365  2021-01-15       0    6446      1         35
17      709719  2020-11-20       0    9325      1          0
18      812071  2020-12-10   10000   17512      1          0
19      528595  2020-10-05   10000   21690      1          0
20      310881  2020-08-13   10000   23148      1          0
21      528593  2020-10-05   10000   23148      1         53
22      448618  2020-09-16   10000   27866      3          0
23      448617  2020-09-16   10000   29657      2          0
24      812072  2020-12-10   10000    4879      1          0
25      310880  2020-08-13   10000       6      1          0
26      528594  2020-10-05   10000       6      1         53
27      218115  2020-07-21   10001   10364      1          0
28       45413  2020-06-12   10001   10961      1          0
29      693467  2020-11-15   10001   12214      1          0

In [11]:
orders = orders.drop(columns=orders.columns[0], axis=1)

In [12]:
orders.head(30)

          date  userID  itemID  order  intervals
0   2020-08-03       0   12468      1          0
1   2020-08-18       0   12505      1          0
2   2021-01-25       0   13146      2          0
3   2020-09-01       0    1505      1          0
4   2020-08-03       0   15083      1          0
5   2020-06-05       0   20664      1          0
6   2020-10-09       0   20664      1        126
7   2020-12-11       0   20664      1         63
8   2020-10-09       0   26387      1          0
9   2020-11-20       0   28231      1          0
10  2020-12-11       0   28231      1         21
11  2021-01-25       0   28231      2         45
12  2021-01-15       0   29956      1          0
13  2020-12-04       0   31683      1          0
14  2020-12-04       0   31923      1          0
15  2020-12-11       0    6446      1          0
16  2021-01-15       0    6446      1         35
17  2020-11-20       0    9325      1          0
18  2020-12-10   10000   17512      1          0
19  2020-10-05   10000   21690      1          0
20  2020-08-13   10000   23148      1          0
21  2020-10-05   10000   23148      1         53
22  2020-09-16   10000   27866      3          0
23  2020-09-16   10000   29657      2          0
24  2020-12-10   10000    4879      1          0
25  2020-08-13   10000       6      1          0
26  2020-10-05   10000       6      1         53
27  2020-07-21   10001   10364      1          0
28  2020-06-12   10001   10961      1          0
29  2020-11-15   10001   12214      1          0

In [13]:
orders.to_csv('orders_labeled.csv', sep=',', index=False, encoding='utf-8')

In [14]:
orders.dtypes

date         object
userID        int64
itemID        int64
order         int64
intervals     int64
dtype: object