In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
pip install lightgbm

Requirement already satisfied: lightgbm in d:\python\lib\site-packages (3.3.2)
Requirement already satisfied: numpy in d:\python\lib\site-packages (from lightgbm) (1.20.1)
Requirement already satisfied: wheel in d:\python\lib\site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: scipy in d:\python\lib\site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: scikit-learn!=0.22.0 in d:\python\lib\site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\python\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: joblib>=0.11 in d:\python\lib\site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install catboost

Requirement already satisfied: catboost in d:\python\lib\site-packages (1.0.5)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas>=0.24.0 in d:\python\lib\site-packages (from catboost) (1.2.4)
Requirement already satisfied: numpy>=1.16.0 in d:\python\lib\site-packages (from catboost) (1.20.1)
Requirement already satisfied: scipy in d:\python\lib\site-packages (from catboost) (1.6.2)
Requirement already satisfied: matplotlib in d:\python\lib\site-packages (from catboost) (3.3.4)
Requirement already satisfied: six in d:\python\lib\site-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in d:\python\lib\site-packages (from catboost) (0.17)
Requirement already satisfied: plotly in d:\python\lib\site-packages (from catboost) (4.14.3)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\python\lib\site-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in d:\python\lib\site-packages (from pandas>=0.24.0->catboost) (2021.1)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\python\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in d:\python\lib\site-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in d:\python\lib\site-packages (from matplotlib->catboost) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in d:\python\lib\site-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: retrying>=1.3.3 in d:\python\lib\site-packages (from plotly->catboost) (1.3.3)

In [4]:
import pandas as pd 
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn import neural_network
import xgboost as xgb


import catboost as cat

import matplotlib.pyplot as plt

In [22]:
train_dec = pd.read_csv("train_bef_dec.csv")

train_dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 631986 entries, 0 to 631985
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  631986 non-null  object
 1   userID                631986 non-null  int64
 2   itemID                631986 non-null  int64
 3   order                 631986 non-null  int64
 4   brand                 631986 non-null  int64
 5   feature_1             631986 non-null  int64
 6   feature_2             631986 non-null  int64
 7   feature_3             631986 non-null  int64
 8   feature_4             631986 non-null  int64
 9   feature_5             631986 non-null  int64
 10  category              631986 non-null  int64
 11  weekday               631986 non-null  int64
 12  date_of_month         631986 non-null  int64
 13  total_purchase_times  631986 non-null  int64
 14  purchased_frequency   631986 non-null  float64
 15  label                 631986 non-null  int64
dtypes: float64(1), int64(14), object(1)
memory usage: 77.1+ MB

In [37]:
train_dec.head()

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,category,weekday,date_of_month,total_purchase_times,purchased_frequency,label
0,2020-06-05,0,20664,1,408,4,0,284,0,66,2346,4,5,9,0.6,0
1,2020-06-19,11250,20664,1,408,4,0,284,0,66,2346,4,19,26,0.6,0
2,2020-06-01,1421,20664,1,408,4,0,284,0,66,2346,0,1,40,0.6,0
3,2020-06-01,17725,20664,1,408,4,0,284,0,66,2346,0,1,11,0.6,0
4,2020-06-30,24216,20664,1,408,4,0,284,0,66,2346,1,30,3,0.6,0

In [38]:
test_dec = pd.read_csv("test_dec.csv")

test_dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113478 entries, 0 to 113477
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  113478 non-null  object
 1   userID                113478 non-null  int64
 2   itemID                113478 non-null  int64
 3   order                 113478 non-null  int64
 4   brand                 113478 non-null  int64
 5   feature_1             113478 non-null  int64
 6   feature_2             113478 non-null  int64
 7   feature_3             113478 non-null  int64
 8   feature_4             113478 non-null  int64
 9   feature_5             113478 non-null  int64
 10  category              113478 non-null  int64
 11  weekday               113478 non-null  int64
 12  date_of_month         113478 non-null  int64
 13  total_purchase_times  113478 non-null  int64
 14  purchased_frequency   113478 non-null  float64
 15  label                 113478 non-null  int64
dtypes: float64(1), int64(14), object(1)
memory usage: 13.9+ MB

In [76]:
test_jan = pd.read_csv("test_jan.csv")

test_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132768 entries, 0 to 132767
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   date                  132768 non-null  object
 1   userID                132768 non-null  int64
 2   itemID                132768 non-null  int64
 3   order                 132768 non-null  int64
 4   brand                 132768 non-null  int64
 5   feature_1             132768 non-null  int64
 6   feature_2             132768 non-null  int64
 7   feature_3             132768 non-null  int64
 8   feature_4             132768 non-null  int64
 9   feature_5             132768 non-null  int64
 10  category              132768 non-null  int64
 11  weekday               132768 non-null  int64
 12  date_of_month         132768 non-null  int64
 13  total_purchase_times  132768 non-null  int64
 14  purchased_frequency   132768 non-null  float64
 15  label                 132768 non-null  int64
dtypes: float64(1), int64(14), object(1)
memory usage: 16.2+ MB

In [77]:
train_dec['label'].value_counts()
train_dec.isnull().sum()

userID                  0
itemID                  0
order                   0
brand                   0
feature_1               0
feature_2               0
feature_3               0
feature_4               0
feature_5               0
category                0
weekday                 0
date_of_month           0
total_purchase_times    0
purchased_frequency     0
label                   0
dtype: int64

In [78]:
test_dec['label'].value_counts()
train_dec.isnull().sum()

userID                  0
itemID                  0
order                   0
brand                   0
feature_1               0
feature_2               0
feature_3               0
feature_4               0
feature_5               0
category                0
weekday                 0
date_of_month           0
total_purchase_times    0
purchased_frequency     0
label                   0
dtype: int64

In [79]:
# unbalanced data remove extra 0s 
df_10000_0 = train_dec.loc[train_dec['label']==0].sample(n=10000, axis=0, random_state=1)
df_balanced_dec = df_10000_0.append(train_dec.loc[train_dec['label']!=0])
df_balanced_dec['label'].value_counts()

0    10000
4     5966
3     4648
2     3061
1     2013
Name: label, dtype: int64

In [15]:
'''# load other dataset
df_cat_hierarchy = pd.read_csv('category_hierarchy.csv', delimiter='|',error_bad_lines=False)
df_items = pd.read_csv('items.csv',sep='|',error_bad_lines=False)
# fill NA values in category column -- 4300 is the category with null values
df_items["categories"] = df_items["categories"].fillna('[4300]')
df_items
df_items.info() '''

'# load other dataset\ndf_cat_hierarchy = pd.read_csv(\'category_hierarchy.csv\', delimiter=\'|\',error_bad_lines=False)\ndf_items = pd.read_csv(\'items.csv\',sep=\'|\',error_bad_lines=False)\n# fill NA values in category column -- 4300 is the category with null values\ndf_items["categories"] = df_items["categories"].fillna(\'[4300]\')\ndf_items\ndf_items.info() '

In [27]:
# transform categories from str to int list
#df_items['categories'] = df_items['categories'].map(lambda x: list(map(int,x.split("[")[1].split("]")[0].split(","))))

In [54]:
#change the date coulumn's datayte to datetime datatype
train_dec['date'] = pd.to_datetime(train_dec['date'])
train_dec = train_dec.set_index('date')

In [20]:
# from categories list generate parent_categories
#df_indexed = df_cat_hierarchy.set_index(['category'])
#df_indexed

In [57]:
test_dec['date'] = pd.to_datetime(test_dec['date'])
test_dec = test_dec.set_index('date')

In [80]:
test_jan['date'] = pd.to_datetime(test_jan['date'])
test_jan = test_jan.set_index('date')

In [33]:
#df_indexed.loc[[2890, 855, 3908, 3909]]['parent_category']

In [34]:
# set parent of null as null
#df_indexed.loc[4300] = [4300]
#df_indexed

In [35]:
# parent_categories generate
#df_items['parent_categories'] = df_items['categories'].map(lambda x : df_indexed.loc[x]['parent_category'].tolist())

In [36]:
#df_items

In [35]:
# Joining df_orders_jan dataframe and df_items dataframe
#merge_jan = pd.merge(df_items, df_balanced_jan, how='inner', on='itemID')
#change the date coulumn's datayte to datetime datatype
#merge_jan['date'] = pd.to_datetime(merge_jan['date'])
#merge_jan = merge_jan.set_index('date')

In [ ]:
#merge_jan_no_cat = merge_jan.drop(columns=['categories', 'parent_categories'])

In [32]:
'''y = merge_jan_no_cat['label']
X = merge_jan_no_cat.drop(columns='label')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)
X_train
X_test
'''

"y = merge_jan_no_cat['label']\nX = merge_jan_no_cat.drop(columns='label')\nX_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)\nX_train\nX_test\n"

In [58]:
x_train= train_dec.drop(['label'], axis=1)

y_train = train_dec['label'] 

x_test= test_dec.drop(['label'], axis=1)

y_test = test_dec['label']

In [81]:
#import january test data
x_test_jan = test_jan.drop(['label'], axis=1)

y_test_jan = test_jan['label']

In [82]:
x_test_jan.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 132768 entries, 2021-01-01 to 2021-01-31
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   userID                132768 non-null  int64
 1   itemID                132768 non-null  int64
 2   order                 132768 non-null  int64
 3   brand                 132768 non-null  int64
 4   feature_1             132768 non-null  int64
 5   feature_2             132768 non-null  int64
 6   feature_3             132768 non-null  int64
 7   feature_4             132768 non-null  int64
 8   feature_5             132768 non-null  int64
 9   category              132768 non-null  int64
 10  weekday               132768 non-null  int64
 11  date_of_month         132768 non-null  int64
 12  total_purchase_times  132768 non-null  int64
 13  purchased_frequency   132768 non-null  float64
dtypes: float64(1), int64(13)
memory usage: 15.2 MB

In [60]:
x_train.info()
x_train

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 631986 entries, 2020-06-05 to 2020-11-26
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   userID                631986 non-null  int64
 1   itemID                631986 non-null  int64
 2   order                 631986 non-null  int64
 3   brand                 631986 non-null  int64
 4   feature_1             631986 non-null  int64
 5   feature_2             631986 non-null  int64
 6   feature_3             631986 non-null  int64
 7   feature_4             631986 non-null  int64
 8   feature_5             631986 non-null  int64
 9   category              631986 non-null  int64
 10  weekday               631986 non-null  int64
 11  date_of_month         631986 non-null  int64
 12  total_purchase_times  631986 non-null  int64
 13  purchased_frequency   631986 non-null  float64
dtypes: float64(1), int64(13)
memory usage: 72.3 MB

,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,category,weekday,date_of_month,total_purchase_times,purchased_frequency
date,,,,,,,,,,,,,,
2020-06-05,0,20664,1,408,4,0,284,0,66,2346,4,5,9,0.60
2020-06-19,11250,20664,1,408,4,0,284,0,66,2346,4,19,26,0.60
2020-06-01,1421,20664,1,408,4,0,284,0,66,2346,0,1,40,0.60
2020-06-01,17725,20664,1,408,4,0,284,0,66,2346,0,1,11,0.60
2020-06-30,24216,20664,1,408,4,0,284,0,66,2346,1,30,3,0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-11-26,75,25897,1,328,6,1,497,3,13,3898,3,26,49,0.07
2020-11-26,7566,15895,2,867,10,2,507,3,122,3898,3,26,19,0.07
2020-11-22,8923,15895,1,867,10,2,507,3,122,3898,6,22,28,0.07
2020-11-28,8844,24225,1,393,10,0,536,3,91,3898,5,28,27,0.03
2020-11-26,9923,29874,1,806,4,1,452,3,173,4300,3,26,31,0.03

In [61]:
y_train

date
2020-06-05    0
2020-06-19    0
2020-06-01    0
2020-06-01    0
2020-06-30    0
             ..
2020-11-26    0
2020-11-26    0
2020-11-22    0
2020-11-28    0
2020-11-26    0
Name: label, Length: 631986, dtype: int64

In [63]:
x_test

,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,category,weekday,date_of_month,total_purchase_times,purchased_frequency
date,,,,,,,,,,,,,,
2020-12-11,0,20664,1,408,4,0,284,0,66,2346,4,11,14,0.71
2020-12-02,14907,20664,1,408,4,0,284,0,66,2346,2,2,33,0.71
2020-12-29,15574,20664,1,408,4,0,284,0,66,2346,1,29,30,0.71
2020-12-27,15907,20664,1,408,4,0,284,0,66,2346,6,27,24,0.71
2020-12-20,15972,20664,1,408,4,0,284,0,66,2346,6,20,32,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-08,9741,7980,1,1490,4,3,487,0,144,3898,1,8,11,0.03
2020-12-01,979,24287,1,649,4,0,508,0,8,3898,1,1,36,0.03
2020-12-09,9806,27883,4,280,4,1,277,0,53,3898,2,9,23,0.03
2020-12-21,9860,5558,5,765,6,0,497,0,145,3898,0,21,79,0.03
2020-12-06,9985,22609,2,768,4,0,487,0,66,3898,6,6,21,0.03

In [64]:
y_test

date
2020-12-11    0
2020-12-02    0
2020-12-29    0
2020-12-27    0
2020-12-20    0
             ..
2020-12-08    0
2020-12-01    0
2020-12-09    0
2020-12-21    0
2020-12-06    0
Name: label, Length: 113478, dtype: int64

In [53]:
# baseline(didn't consider time series)--xgboost
'''def xgb_train(X_train, y_train, X_test, y_test, verbose=True):
    model_xgb = xgb.XGBClassifier(
        max_depth=10, # raw8
        n_estimators=1000,
        min_child_weight=300, 
        colsample_bytree=0.8, 
        subsample=0.8, 
        eta=0.3,    
        seed=42        
    )

    model_xgb.fit(
        X_train, 
        y_train,
        eval_metric='auc',
        eval_set=[(X_train, y_train), (X_test, y_test)],
        verbose=verbose,
        early_stopping_rounds=10 
    )
    print(model_xgb.best_score)
    return model_xgb
    '''

In [54]:
#model_xgb = xgb_train(X_train, y_train, X_test, y_test, verbose=False)

0.621942

In [55]:
'''pre_merge = pd.merge(sub_jan.drop(columns='prediction'), X, on=['userID','itemID'], how="inner")
prediction = model_xgb.predict(pre_merge)
sub_xgb = sub_jan.copy()
sub_xgb['prediction'] = pd.Series(prediction)
# user and items haven't shown up predict 0
sub_xgb['prediction'] = sub_xgb['prediction'].fillna(0)
# submission.to_csv('submission_xgb.csv', index=False)
sub_xgb['prediction'].value_counts()'''

0.0    8406
4.0    1265
3.0     269
Name: prediction, dtype: int64

In [25]:
#sub_xgb.to_csv('submission_xgb.csv')

In [56]:
# baseline1: fill 1
'''sub_jan_all1 = sub_jan.copy()
sub_jan_all1['prediction'] = sub_jan['prediction'].fillna(1)
sub_jan_all1.to_csv('submission_all1.csv')
'''

Baseline model of Naive,decisiontree,KNN with Default  and corresponding hyperpparamters

In [65]:
def baseline(classifier,x_train_dt,x_test_dt,y_train_dt,y_test_dt):
    baseline=classifier
    baseline.fit(x_train_dt,y_train_dt)
    stratified_10_fold_cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
    pred=baseline.predict(x_test_dt)
    print('CV score with default parameters:{}'.format(cross_val_score(classifier,x_train_dt, y_train_dt, cv=stratified_10_fold_cv, scoring='accuracy').mean()))
    print('classification_report on test set with default parameters:\n')
    print(classification_report(y_test_dt,pred))
    # cnf_matrix = confusion_matrix(y_test_dt,pred)    
    #np.set_printoptions(precision=2)
   # plot_confusion_matrix(cnf_matrix,classes=labels,title='confusion matrix:default')

In [66]:
def naivebayes (x_train,x_test,y_train,y_test):
    gnb=GaussianNB()
    gnb.fit(x_train, y_train)
    stratified_10_fold_cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
    cv=StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
    accuracy=cross_val_score(gnb,x_train,y_train,cv=cv)
    print('Mean CV score is: {}'.format(accuracy.mean()))
    params_NB = {'var_smoothing': np.logspace(0,-9, num=100)}
    grid_search = GridSearchCV( estimator=gnb,param_grid=params_NB, cv=cv,verbose=1, scoring='accuracy') 
    grid_search.fit(x_train, y_train)
    print("The best parameter is:{}".format(grid_search.best_params_))
    print("The best validation score is:{}".format(grid_search.best_score_))
    gnb.set_params(var_smoothing=grid_search.best_params_)
    prediction = gnb.predict(x_test)
    print(classification_report(y_test, prediction))
    cm=confusion_matrix(y_test,prediction)

In [68]:
baseline(GaussianNB(),x_train,x_test,y_train,y_test)
print('\n----------after hyperparameter tuning----------\n')
naivebayes(x_train,x_test,y_train, y_test)

CV score with default parameters:0.9702018725050632
classification_report on test set with default parameters:

              precision    recall  f1-score   support

           0       0.97      0.99      0.98    110590
           1       0.00      0.00      0.00       357
           2       0.00      0.00      0.00       569
           3       0.02      0.00      0.00       826
           4       0.01      0.00      0.00      1136

    accuracy                           0.97    113478
   macro avg       0.20      0.20      0.20    113478
weighted avg       0.95      0.97      0.96    113478


----------after hyperparameter tuning----------

Mean CV score is: 0.9702018725050632
Fitting 10 folds for each of 100 candidates, totalling 1000 fits
The best parameter is:{'var_smoothing': 1.0}
The best validation score is:0.9751766653344299
              precision    recall  f1-score   support

           0       0.97      0.99      0.98    110590
           1       0.00      0.00      0.00       357
           2       0.00      0.00      0.00       569
           3       0.02      0.00      0.00       826
           4       0.01      0.00      0.00      1136

    accuracy                           0.97    113478
   macro avg       0.20      0.20      0.20    113478
weighted avg       0.95      0.97      0.96    113478

In [69]:
def decisionTree(x_train,x_test,y_train,y_test):
    
    parameters={
            'criterion':['gini','entropy'],
            'max_depth':[2,3,4,5,6,7,8]
            }
    dtree=DecisionTreeClassifier()
    stratified_10_fold_cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
    
    grid_search=GridSearchCV(dtree,parameters,scoring='accuracy',cv=stratified_10_fold_cv)
    grid_search.fit(x_train,y_train) 
    print('CV score with best parameters:{}'.format(cross_val_score(grid_search.best_estimator_,x_train, y_train, cv=stratified_10_fold_cv, scoring='accuracy').mean()))
    print('best parameters:{}'.format(grid_search.best_params_))
    pred=grid_search.predict(x_test)
    print('classification_report with best parameters:\n')
    print(classification_report(y_test,pred))
    #confusion matrix
    dt_cnf_matrix = confusion_matrix(y_test,pred)    
    np.set_printoptions(precision=2)    
    
    return grid_search.best_estimator_

In [70]:
baseline(DecisionTreeClassifier(),x_train,x_test,y_train,y_test)
print('\n----------after hyperparameter tuning----------\n')
dtree=decisionTree(x_train,x_test,y_train, y_test)

CV score with default parameters:0.9415256039625712
classification_report on test set with default parameters:

              precision    recall  f1-score   support

           0       0.97      0.96      0.97    110590
           1       0.00      0.01      0.00       357
           2       0.01      0.01      0.01       569
           3       0.01      0.01      0.01       826
           4       0.01      0.02      0.02      1136

    accuracy                           0.94    113478
   macro avg       0.20      0.20      0.20    113478
weighted avg       0.95      0.94      0.94    113478


----------after hyperparameter tuning----------

CV score with best parameters:0.9751766653344299
best parameters:{'criterion': 'gini', 'max_depth': 2}
classification_report with best parameters:

              precision    recall  f1-score   support

           0       0.97      1.00      0.99    110590
           1       0.00      0.00      0.00       357
           2       0.00      0.00      0.00       569
           3       0.00      0.00      0.00       826
           4       0.00      0.00      0.00      1136

    accuracy                           0.97    113478
   macro avg       0.19      0.20      0.20    113478
weighted avg       0.95      0.97      0.96    113478

In [71]:
def KNN(x_train,x_test,y_train,y_test):
    
    parameters={
           'n_neighbors' : list(range(1,30)),
        'p': [1,2],
        'weights' : ["uniform", "distance"]
            }
    knn_2 = KNeighborsClassifier()
    stratified_10_fold_cv = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)
    Grid_search_knn = GridSearchCV(knn_2, parameters, cv=stratified_10_fold_cv)
    best_model = Grid_search_knn.fit(x_test,y_test)
    #Print The value of best Hyperparameters
    cv_score=cross_val_score(Grid_search_knn.best_estimator_,x_train, y_train, cv=stratified_10_fold_cv, scoring='accuracy').mean()
    print("Mean CV score is {} with params {}".format(cv_score, Grid_search_knn.best_params_))
    pred=Grid_search_knn.predict(x_test)
    #print('classification_report on test set with best parameters:\n')
   # print(classification_report(y_test,pred))
  
    np.set_printoptions(precision=2)
   
    return Grid_search_knn.best_estimator_

In [72]:
baseline(KNeighborsClassifier(),x_train,x_test,y_train,y_test)
print('\n----------after hyperparameter tuning----------\n')
knn=KNN(x_train,x_test,y_train, y_test)

CV score with default parameters:0.9751545130601483
classification_report on test set with default parameters:

              precision    recall  f1-score   support

           0       0.97      1.00      0.99    110590
           1       0.00      0.00      0.00       357
           2       0.00      0.00      0.00       569
           3       0.00      0.00      0.00       826
           4       0.00      0.00      0.00      1136

    accuracy                           0.97    113478
   macro avg       0.19      0.20      0.20    113478
weighted avg       0.95      0.97      0.96    113478


----------after hyperparameter tuning----------

Mean CV score is 0.9751750830309126 with params {'n_neighbors': 6, 'p': 1, 'weights': 'uniform'}

# test on the january data

In [86]:
#Naive bayes
# predict the y value of january , compare with y real value
from sklearn.metrics import accuracy_score
naive_bayes = GaussianNB()

#instantiate the an estimator and fit it to the data
naive_bayes.fit(x_train, y_train)
naive_bayes.predict(x_test_jan)
naive_prediction_jan = naive_bayes.predict(x_test_jan)
print("default accurancy:{}".format(accuracy_score(y_test_jan,naive_prediction_jan)))
naive_bayes_hyper = GaussianNB(var_smoothing= 1.0)

#applied hyper
naive_bayes_hyper.fit(x_train, y_train)
naive_bayes_hyper.predict(x_test_jan)
naive_prediction_jan_hyper = naive_bayes_hyper.predict(x_test_jan)
print("after hyper accurancy:{}".format(accuracy_score(y_test_jan,naive_prediction_jan_hyper)))

default accurancy:0.9619712581344902
after hyper accurancy:0.9684562545191613

In [88]:
#Decision tree
random_forest = DecisionTreeClassifier()

random_forest.fit(x_train,y_train)
random_forest.predict(x_test_jan)
random_forest_prediction_jan = random_forest.predict(x_test_jan)
print("default accurancy:{}".format(accuracy_score(y_test_jan,random_forest_prediction_jan)))

random_forest_hyper = DecisionTreeClassifier(criterion = 'gini', max_depth=2 )

#applied hyper
random_forest_hyper.fit(x_train, y_train)
random_forest_hyper.predict(x_test_jan)
random_forest_jan_hyper = random_forest_hyper.predict(x_test_jan)
print("after hyper accurancy:{}".format(accuracy_score(y_test_jan,random_forest_jan_hyper)))

default accurancy:0.9281302723547843
after hyper accurancy:0.9684562545191613

In [89]:
#KNN
knn = KNeighborsClassifier()

knn.fit(x_train,y_train)
knn.predict(x_test_jan)
knn_prediction_jan = random_forest.predict(x_test_jan)
print("default accurancy:{}".format(accuracy_score(y_test_jan,knn_prediction_jan)))

knn_hyper = KNeighborsClassifier(n_neighbors=6, p=1, weights='uniform')

#applied hyper
knn_hyper.fit(x_train, y_train)
knn_hyper.predict(x_test_jan)
knn_jan_hyper = knn_hyper.predict(x_test_jan)
print("after hyper accurancy:{}".format(accuracy_score(y_test_jan,knn_jan_hyper)))

default accurancy:0.9281302723547843
after hyper accurancy:0.9684562545191613